html,
body,
.pagecontainer {
  height: 100%;
  /* make sure both html and body pagecontainer covers 100% of page */
  margin: 0px;
  /* to cover 100% we cant have any margins... */
  color: white;
  /* base color for text is white */
}

.pagecontainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
}

.menu {
  display: flex;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

.menurow {
  flex-direction: row;
}

.menucol {
  flex-direction: column;
  height: 100%;
}

.menu li {
  list-style: none;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
}

.menu li:active,
.menu li:hover {
  /* on mouse over the menuobject becomes this color */
  background-color: red;
}

.pagebody {
  /* middle of the page, should engulf any free area (height)*/
  display: flex;
  flex-grow: 1;
}

.pagecontents {
  /* content part of pagebody, asside from menus this should engulf any free area height + width */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.pagecontents_command {
  color: #797979;
}

.pagecontents_app-event {
  color: #aa7979;
}

.pagecontents_inbound {
  color: #acb8fc;
}
.pagecontents_outbound {
  color: #bbe6bb;
}

/* at the bottom of pagecontents we have a commandline */
.commandline {
  background-color: rgb(24, 24, 24);
  padding: 4px;
}

/* above commandline we have the data */
.pagecontentsdata {
  padding: 4px;
  overflow-y: scroll;
}

.pagefooter {
  padding-left: 5px;
  background-color: black;
}
